app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###



    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml
app_test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Neeraj Jhanwar
lastUpdatedOn: 2022-09-28T13:59:29.321Z
