TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: voting_app
  title: NeerajJhanwar/voting_app
  owner: NeerajJhanwar
  default_branch: ingress
  id: 498691070
TF_Branch: ingress
TF_Git_path: ballot/test
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
app_dependencies:
  type: text
  content: |-
    #!/bin/sh
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

build:
  type: text
  content: |
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Neeraj Jhanwar
lastUpdatedOn: 2022-10-10T11:46:18.129Z
